<div class="main">
  <div class="main__header">
    <h1 class="main__header-title">Cat Image Search</h1>
  </div>

  <div class="main__tabs-wrapper">
    <mat-tab-group color="primary" [(selectedIndex)]="activetab">
      <mat-tab label="Images">
        <div class="main__content">
          <ng-container *ngIf="!(loading$ | async) && !(error$ | async)">
            <img alt="Loading..." class="main__content-img" [src]="image.url" *ngFor="let image of (images$ | async)">
          </ng-container>

          <div class="main__content-loader" *ngIf="(loading$ | async)">
            <mat-spinner [diameter]="100" color="accent"></mat-spinner>
          </div>

          <div class="main__content-empty" *ngIf="!(loading$ | async) && ((error$ | async) || breeds.length === 0)">
            <h2 class="main__content-empty-title">No Results :(</h2>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Filters">
        <div class="main__filters">
          <mat-card appearance="outlined">
            <mat-card-content>
              <div class="main__filters-container">
                <h2 class="main__filters-container-title">Search Filters</h2>

                <form class="main__filters-container-form" [formGroup]="filtersForm" (ngSubmit)="applyFilters()">
                  <mat-form-field>
                    <mat-label>Number of Images</mat-label>
                    <input matInput formControlName="imageNumber">
                  </mat-form-field>

                  <mat-checkbox formControlName="selectAll" [indeterminate]="indeterminate" (change)="selectAll($event.checked)" class="main__filters-container-select-all">Select All</mat-checkbox>
                  <div class="main__filters-container-breeds" formArrayName="breeds">
                    <mat-checkbox id="breed-{{ i }}" [formControlName]="i" class="main__filters-container-breeds-checkbox" *ngFor="let breed of breedsControls.controls; let i = index">
                      {{breeds[i].name}}
                    </mat-checkbox>
                  </div>

                  <div class="main__filters-container-form-submit-wrapper">
                    <button [color]="'accent'" type="submit" mat-raised-button class="main__filters-container-form-submit">APPLY</button>
                  </div>
                </form>

              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>
</div>
