.main {

  &__header {
    height: 110px;
    background-color: #F39646;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 10px;
    width: 100%;

    &__tabs-wrapper {
      margin-top: 120px;
    }

    &-title {
      font-size: 48px;
      color: white;
      font-weight: bolder;
      text-align: center;
    }
  }

  &__filters {
    height: calc(100vh - 184px);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: start;

    &-container {
      width: 75vw;
      background-color: white;
      border-radius: 4px;
      padding: 24px;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
      }

      &-form {
        &-submit {
          width: 148px;
          padding: 4px;
          height: 48px;
          font-size: 18px;
          font-weight: bold;
        }

        &-error {
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: start;
          margin-bottom: 24px;

          &-msg {
            font-size: 16px;
            margin: 0;
            color: red;
          }
        }
      }

      &-select-all {
        font-weight: bold !important;
        margin-bottom: 24px;
      }

      &-breeds {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        width: 100%;

        &-checkbox {
          flex: 0 1 20%;
        }
      }

      &-title {
        font-size: 32px;
        font-weight: bolder;
        margin: 0;
      }
    }
  }

  &__content {
    padding: 16px 16px 0 16px;
    height: calc(100vh - 184px);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    &-empty {
      background-color: white;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
      border-radius: 6px;
      width: 75%;
      height: 75%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-title {
        font-size: 48px;
      }
    }

    &-loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      width: 300px;
      background-color: white;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
      border-radius: 6px;
    }

    &-img {
      flex: 0 1 calc(20% - 32px);
      height: calc(20vw - 32px);
      background-color: #DCB184;
      margin: 16px 16px 24px 16px;
      display: inline-block;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
  }
}

mat-tab-body {
  background-color: transparent;
}

// Tab Header
::ng-deep .mat-mdc-tab-header .mdc-tab {
  height: 64px !important;
  background-color: #F39646;
}

// Tab Labels
::ng-deep .mdc-tab__text-label,
::ng-deep .mdc-tab__text-label {
  font-weight: bold;
  font-size: 18px;
}

mat-card {
  border: solid 4px #4F3328;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  margin: 36px 0;
}

mat-form-field {
  width: 100%;
}
