<div class="main">
  <div class="main__header">
    <h1 class="main__header-title">Cat Image Search</h1>
<!--    <div class="main__header-filters">-->
<!--      <button class="main__header-filters-btn" mat-stroked-button>Breeds</button>-->
<!--    </div>-->
  </div>

  <div class="main__tabs-wrapper">
    <mat-tab-group color="primary" [(selectedIndex)]="activetab">
      <mat-tab label="Images">
        <div class="main__content">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
          <img class="main__content-img" src="../assets/img/bhu.jpg">
        </div>
      </mat-tab>
      <mat-tab label="Filters">
        <div class="main__filters">
          <mat-card appearance="outlined">
            <mat-card-content>
              <div class="main__filters-container">
                <h2 class="main__filters-container-title">Search Filters</h2>

                <mat-form-field>
                  <mat-label>Number of Images</mat-label>
                  <input matInput>
                </mat-form-field>

                <mat-checkbox class="main__filters-container-select-all">Select All</mat-checkbox>


              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>
</div>
