@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%; overflow: hidden;
  background-image: url("assets/img/paw-bg.png");}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
